include mixins.jade
+breadcrumbs('Tabs', 'LOREM IPSUM DOLOR SIT AMET CONSECTETUR',[['home', '/',], [ 'tabs']])

section
    .container
        .row
            .col-lg-6
                h2 .alert .alert-info
                .alert.alert-info
                    i.fa-lg.fa.fa-comments-o
                    |  LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.
            .col-lg-6
                h2 .alert .alert-success
                .alert.alert-success
                    i.fa-lg.fa.fa-check-circle-o
                    |  LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.
        .row
            .col-lg-6
                h2 .alert .alert-warning
                .alert.alert-warning
                    i.fa-lg.fa.fa-exclamation-triangle
                    |  LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.
            .col-lg-6
                h2 .alert .alert-danger
                .alert.alert-danger
                    i.fa-lg.fa.fa-times-circle
                    |  LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.