include mixins.jade
+breadcrumbs('Typography', 'LOREM IPSUM DOLOR SIT AMET CONSECTETUR',[['home', '/',], [ 'typography']])

br
section
    .container
        .row
            .col-lg-4
                h2 ul
                ul
                    li First item
                    li Second item
                    li Third item
                        ul
                            li First item
                            li Second item
                            li Third item
                    li Fourth item
                    li Fifth item

            .col-lg-4
                h2 ol
                ol
                    li First item
                    li Second item
                    li Third item
                        ol
                            li First item
                            li Second item
                            li Third item
                    li Fourth item
                    li Fifth item

            .col-lg-4
                h2 EMPHASIS
                p
                    small This line of text is meant to be treated as fine print.
                p
                    strong Rendered as bold text
                p
                    em Rendered as italicized text
                p
                    span.serif Rendered as italicized text

br
section.section-text.text-lg-center
    .container
        .row
            .col-lg-4
                h1.text-uppercase heading 1
                h2.text-uppercase heading 2
                h3.text-uppercase heading 3
                h4.text-uppercase heading 4
                h5.text-uppercase heading 5
                h6.text-uppercase heading 6

            .col-lg-4
                h1 Heading 1
                h2 Heading 2
                h3 Heading 3
                h4 Heading 4
                h5 Heading 5
                h6 Heading 6

            .col-lg-4
                h1 Heading 1
                h2 Heading 2
                h3 Heading 3
                h4 Heading 4
                h5 Heading 5
                h6 Heading 6

section.section-text.pt70
    .container
        .row
            .col-lg-4
                h1 Heading 1
                    span.small-text LOREM IPSUM DOLOR SIT AMET CONSECTETUR
                h2 Heading 2
                    span.small-text LOREM IPSUM DOLOR SIT AMET CONSECTETUR
                h3 Heading 3
                    span.small-text LOREM IPSUM DOLOR SIT AMET CONSECTETUR
                h4 Heading 4
                    span.small-text LOREM IPSUM DOLOR SIT AMET CONSECTETUR

            .col-lg-4
                h1.border-bottom Heading 1
                h2.border-bottom Heading 2
                h3.border-bottom Heading 3
                h4.border-bottom Heading 4
